.suggestion {
  width: 100%;
  height: 70px;
  border-bottom: 0.5px solid rgb(86, 86, 86);
  display: flex;
  gap: 2%;
  cursor: pointer;
  justify-content: center;
}
.sugg-pic-cont {
  width: 16%;
  /* border: 1px solid yellow; */
}
.sugg-pic {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50%;
}
.sugg-name {
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.sugg-name-user {
  font-size: 115%;
  color: #fff;
}
.sugg-add {
  width: 30%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sugg-add button {
  width: 100%;
  height: 38px;
  padding: 0 10px;
  background-color: #3b82f6;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
